# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py=2.1.0=pypi_0
aiohttp=3.9.5=pypi_0
aiosignal=1.3.1=pypi_0
annotated-types=0.6.0=pypi_0
anyio=4.3.0=pypi_0
appnope=0.1.4=pypi_0
archspec=0.2.1=pyhd3eb1b0_0
asttokens=2.4.1=pypi_0
astunparse=1.6.3=pypi_0
attrs=23.2.0=pypi_0
beautifulsoup4=4.12.3=pypi_0
blis=0.7.11=pypi_0
boltons=23.0.0=py311hca03da5_0
brotli-python=1.0.9=py311h313beb8_7
bzip2=1.0.8=h620ffc9_4
c-ares=1.19.1=h80987f9_0
ca-certificates=2023.12.12=hca03da5_0
cachetools=5.3.2=pypi_0
catalogue=2.0.10=pypi_0
certifi=2024.2.2=pypi_0
cffi=1.16.0=py311h80987f9_0
chardet=3.0.4=pypi_0
charset-normalizer=3.3.2=pypi_0
click=8.1.7=pypi_0
cloudpathlib=0.16.0=pypi_0
comm=0.2.1=pypi_0
conda=23.11.0=py311hca03da5_0
conda-content-trust=0.2.0=py311hca03da5_0
conda-libmamba-solver=23.12.0=pyhd3eb1b0_1
conda-package-handling=2.2.0=py311hca03da5_0
conda-package-streaming=0.9.0=py311hca03da5_0
confection=0.1.4=pypi_0
contourpy=1.2.0=pypi_0
cryptography=42.0.2=pypi_0
cycler=0.12.1=pypi_0
cymem=2.0.8=pypi_0
datasets=2.19.0=pypi_0
debugpy=1.8.1=pypi_0
decorator=5.1.1=pypi_0
detoxify=0.5.2=pypi_0
dill=0.3.8=pypi_0
distro=1.8.0=py311hca03da5_0
en-core-web-md=3.7.1=pypi_0
evaluate=0.4.1=pypi_0
exceptiongroup=1.2.0=pypi_0
executing=2.0.1=pypi_0
filelock=3.13.1=pypi_0
flatbuffers=23.5.26=pypi_0
fmt=9.1.0=h48ca7d4_0
fonttools=4.48.1=pypi_0
frozenlist=1.4.1=pypi_0
fsspec=2024.2.0=pypi_0
gast=0.5.4=pypi_0
gensim=4.3.2=pypi_0
google-auth=2.27.0=pypi_0
google-auth-oauthlib=1.2.0=pypi_0
google-pasta=0.2.0=pypi_0
googletrans=4.0.0rc1=pypi_0
grpcio=1.60.1=pypi_0
h11=0.14.0=pypi_0
h2=3.2.0=pypi_0
h5py=3.10.0=pypi_0
hpack=3.0.0=pypi_0
hstspreload=2024.2.1=pypi_0
httpcore=1.0.5=pypi_0
httpx=0.27.0=pypi_0
huggingface-hub=0.22.2=pypi_0
hyperframe=5.2.0=pypi_0
icu=73.1=h313beb8_0
idna=2.10=pypi_0
ipykernel=6.29.2=pypi_0
ipython=8.21.0=pypi_0
ipywidgets=8.1.2=pypi_0
jedi=0.19.1=pypi_0
jinja2=3.1.3=pypi_0
joblib=1.3.2=pypi_0
jsonpatch=1.32=pyhd3eb1b0_0
jsonpointer=2.1=pyhd3eb1b0_0
jupyter-client=8.6.0=pypi_0
jupyter-core=5.7.1=pypi_0
jupyterlab-widgets=3.0.10=pypi_0
keras=2.15.0=pypi_0
kiwisolver=1.4.5=pypi_0
krb5=1.20.1=hf3e1bf2_1
langcodes=3.3.0=pypi_0
langkit=0.0.31=pypi_0
libarchive=3.6.2=h62fee54_2
libclang=16.0.6=pypi_0
libcurl=8.4.0=h3e2b118_1
libcxx=14.0.6=h848a8c0_0
libedit=3.1.20230828=h80987f9_0
libev=4.33=h1a28f6b_1
libffi=3.4.4=hca03da5_0
libiconv=1.16=h1a28f6b_2
libmamba=1.5.3=h15e39b3_0
libmambapy=1.5.3=py311h1c5506f_0
libnghttp2=1.57.0=h62f6fdd_0
libsolv=0.7.24=h514c7bf_0
libssh2=1.10.0=h02f6b3c_2
libxml2=2.10.4=h0dcf63f_1
lxml=5.1.0=pypi_0
lz4-c=1.9.4=h313beb8_0
markdown=3.5.2=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.8.2=pypi_0
matplotlib-inline=0.1.6=pypi_0
menuinst=2.0.1=py311hca03da5_1
ml-dtypes=0.2.0=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.0.5=pypi_0
multiprocess=0.70.16=pypi_0
murmurhash=1.0.10=pypi_0
ncurses=6.4=h313beb8_0
nest-asyncio=1.6.0=pypi_0
networkx=3.2.1=pypi_0
nltk=3.8.1=pypi_0
numpy=1.26.4=pypi_0
oauthlib=3.2.2=pypi_0
openai=1.23.6=pypi_0
openssl=3.0.12=h1a28f6b_0
opt-einsum=3.3.0=pypi_0
packaging=23.2=pypi_0
pandas=2.2.2=pypi_0
parso=0.8.3=pypi_0
pathos=0.3.2=pypi_0
pcre2=10.42=hb066dcc_0
pexpect=4.9.0=pypi_0
phonenumbers=8.13.35=pypi_0
pillow=10.2.0=pypi_0
pip=23.3.1=py311hca03da5_0
platformdirs=3.11.0=pypi_0
pluggy=1.0.0=py311hca03da5_1
pox=0.3.4=pypi_0
ppft=1.7.6.8=pypi_0
preshed=3.0.9=pypi_0
presidio-analyzer=2.2.354=pypi_0
prompt-toolkit=3.0.43=pypi_0
protobuf=4.25.2=pypi_0
psutil=5.9.8=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyarrow=16.0.0=pypi_0
pyarrow-hotfix=0.6=pypi_0
pyasn1=0.5.1=pypi_0
pyasn1-modules=0.3.0=pypi_0
pybind11-abi=4=hd3eb1b0_1
pycosat=0.6.6=py311h80987f9_0
pycparser=2.21=pyhd3eb1b0_0
pydantic=2.6.1=pypi_0
pydantic-core=2.16.2=pypi_0
pyexecjs=1.5.1=pypi_0
pygments=2.17.2=pypi_0
pyopenssl=23.2.0=py311hca03da5_0
pyparsing=3.1.1=pypi_0
pyphen=0.15.0=pypi_0
pysocks=1.7.1=py311hca03da5_0
python=3.11.5=hb885b13_0
python-dateutil=2.8.2=pypi_0
python.app=3=py311h80987f9_0
pytz=2024.1=pypi_0
pyyaml=6.0.1=pypi_0
pyzmq=25.1.2=pypi_0
readline=8.2=h1a28f6b_0
regex=2023.12.25=pypi_0
reproc=14.2.4=hc377ac9_1
reproc-cpp=14.2.4=hc377ac9_1
requests=2.31.0=py311hca03da5_0
requests-file=2.0.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
responses=0.18.0=pypi_0
rfc3986=1.5.0=pypi_0
rsa=4.9=pypi_0
ruamel.yaml=0.17.21=py311h80987f9_0
safetensors=0.4.2=pypi_0
scikit-learn=1.4.0=pypi_0
scipy=1.12.0=pypi_0
sentence-transformers=2.7.0=pypi_0
sentencepiece=0.2.0=pypi_0
setuptools=68.2.2=py311hca03da5_0
six=1.16.0=pypi_0
smart-open=6.4.0=pypi_0
sniffio=1.3.0=pypi_0
soupsieve=2.5=pypi_0
spacy=3.7.2=pypi_0
spacy-legacy=3.0.12=pypi_0
spacy-loggers=1.0.5=pypi_0
sqlite=3.41.2=h80987f9_0
srsly=2.4.8=pypi_0
stack-data=0.6.3=pypi_0
sympy=1.12=pypi_0
tensorboard=2.15.2=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorflow=2.15.0=pypi_0
tensorflow-estimator=2.15.0=pypi_0
tensorflow-io-gcs-filesystem=0.36.0=pypi_0
tensorflow-macos=2.15.0=pypi_0
termcolor=2.4.0=pypi_0
textblob=0.17.1=pypi_0
textstat=0.7.3=pypi_0
thinc=8.2.3=pypi_0
threadpoolctl=3.2.0=pypi_0
tk=8.6.12=hb8d0fd4_0
tldextract=5.1.2=pypi_0
tokenizers=0.15.1=pypi_0
torch=2.3.0=pypi_0
tornado=6.4=pypi_0
tqdm=4.66.1=pypi_0
traitlets=5.14.1=pypi_0
transformers=4.37.2=pypi_0
translators=5.8.9=pypi_0
truststore=0.8.0=py311hca03da5_0
typer=0.9.0=pypi_0
types-requests=2.31.0.20240406=pypi_0
typing-extensions=4.9.0=pypi_0
tzdata=2024.1=pypi_0
urllib3=2.2.0=pypi_0
vadersentiment=3.3.2=pypi_0
wasabi=1.1.2=pypi_0
wcwidth=0.2.13=pypi_0
weasel=0.3.4=pypi_0
werkzeug=3.0.1=pypi_0
wheel=0.41.2=py311hca03da5_0
whylabs-client=0.6.3=pypi_0
whylogs=1.3.30=pypi_0
whylogs-sketching=3.4.1.dev3=pypi_0
widgetsnbextension=4.0.10=pypi_0
wordcloud=1.9.3=pypi_0
wrapt=1.14.1=pypi_0
xxhash=3.4.1=pypi_0
xz=5.4.5=h80987f9_0
yaml-cpp=0.8.0=h313beb8_0
yarl=1.9.4=pypi_0
zlib=1.2.13=h5a0b063_0
zstandard=0.19.0=py311h80987f9_0
zstd=1.5.5=hd90d995_0
